PID DIGITAL/Versión simple/Seccion Web/pet-pid.json
[
    {
        "id": "61975211f2fe207f",
        "type": "tab",
        "label": "Version simple",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "47f08cfea0cf61ed",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "Distribuir telemetría",
        "func": "// Obtenemos el objeto, venga de string o ya parseado\nvar obj;\n\nif (typeof msg.payload === \"string\") {\n    try {\n        obj = JSON.parse(msg.payload);\n    } catch (e) {\n        return null;   // No era JSON válido, no emitimos nada\n    }\n} else if (typeof msg.payload === \"object\" && msg.payload !== null) {\n    obj = msg.payload;\n} else {\n    return null;\n}\n\n// Verificamos que tenga la propiedad 'temperatura' (puede ser 0)\nif (obj.temperatura === undefined) return null;\n\n// Declaramos los mensajes (con var para que Node-RED los reconozca)\nvar msg1 = { topic: \"Temperatura\", payload: obj.temperatura };\nvar msg2 = { topic: \"Setpoint\", payload: obj.setpoint };\nvar msg3 = { topic: \"Salida\", payload: obj.salida };\nvar msg4 = { payload: obj.nivelSeguro };\nvar msg5 = { payload: obj.sensor };\nvar msg6 = { payload: obj.actuador };\nvar msg7 = { payload: obj.ts };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7];",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "ed78e62dc882eb0c",
                "6f0b812b7c3d0953",
                "eac951b188419cb2",
                "d83c8aca2e5ef30c",
                "72797998c38f62e2"
            ],
            [
                "ed78e62dc882eb0c",
                "6f0b812b7c3d0953",
                "4149ff78ae987ffd"
            ],
            [
                "703026d9f86634f4",
                "52500e113699f15a"
            ],
            [
                "9dd526117960e4ca"
            ],
            [
                "0c22eb451432a286"
            ],
            [
                "507ffee590a07db5"
            ],
            [
                "e57bd6d79c7cd872"
            ]
        ]
    },
    {
        "id": "ed78e62dc882eb0c",
        "type": "ui_chart",
        "z": "61975211f2fe207f",
        "name": "Temperatura y Setpoint",
        "group": "4c0bed7b14068cd7",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": "10",
        "removeOlderPoints": "50",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 830,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "703026d9f86634f4",
        "type": "ui_chart",
        "z": "61975211f2fe207f",
        "name": "Salida %",
        "group": "4c0bed7b14068cd7",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Salida (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9dd526117960e4ca",
        "type": "ui_text",
        "z": "61975211f2fe207f",
        "group": "c9149d1e66f772f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Nivel seguro",
        "label": "Nivel seguro",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 14,
        "color": "#000000",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "0c22eb451432a286",
        "type": "ui_text",
        "z": "61975211f2fe207f",
        "group": "c9149d1e66f772f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Sensor activo",
        "label": "Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 14,
        "color": "#000000",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "507ffee590a07db5",
        "type": "ui_text",
        "z": "61975211f2fe207f",
        "group": "c9149d1e66f772f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Actuador activo",
        "label": "Actuador",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 14,
        "color": "#000000",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "e57bd6d79c7cd872",
        "type": "ui_text",
        "z": "61975211f2fe207f",
        "group": "c9149d1e66f772f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "T muestreo",
        "label": "T muestreo (s)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 14,
        "color": "#000000",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "4e49c46540a17959",
        "type": "ui_slider",
        "z": "61975211f2fe207f",
        "name": "Setpoint",
        "label": "Setpoint (°C)",
        "tooltip": "Temperatura deseada",
        "group": "b5253ba5469cbac5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": "0",
        "max": "100",
        "step": 0.5,
        "className": "",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "03ea397dcad8cf78"
            ]
        ]
    },
    {
        "id": "03ea397dcad8cf78",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "cmd:setpoint",
        "func": "msg.payload = \"setpoint:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 540,
        "wires": [
            [
                "20a0643562fed0b2",
                "1b4744901be675f3"
            ]
        ]
    },
    {
        "id": "bb125645c719f57b",
        "type": "ui_slider",
        "z": "61975211f2fe207f",
        "name": "Kp",
        "label": "Kp",
        "tooltip": "Ganancia proporcional",
        "group": "b5253ba5469cbac5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 0.1,
        "className": "",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "2b95ca1314e85bfe"
            ]
        ]
    },
    {
        "id": "2b95ca1314e85bfe",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "cmd:kp",
        "func": "msg.payload = \"kp:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 660,
        "wires": [
            [
                "20a0643562fed0b2",
                "1b4744901be675f3"
            ]
        ]
    },
    {
        "id": "c40e6b3517ae460c",
        "type": "ui_slider",
        "z": "61975211f2fe207f",
        "name": "Ki",
        "label": "Ki",
        "tooltip": "Ganancia integral",
        "group": "b5253ba5469cbac5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "4",
        "step": "0.01",
        "className": "",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "e024fbcc106d4679"
            ]
        ]
    },
    {
        "id": "e024fbcc106d4679",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "cmd:ki",
        "func": "msg.payload = \"ki:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 760,
        "wires": [
            [
                "20a0643562fed0b2",
                "1b4744901be675f3"
            ]
        ]
    },
    {
        "id": "5f5b7c248eeee55f",
        "type": "ui_slider",
        "z": "61975211f2fe207f",
        "name": "Kd",
        "label": "Kd",
        "tooltip": "Ganancia derivativa",
        "group": "b5253ba5469cbac5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "10",
        "step": "0.5",
        "className": "",
        "x": 50,
        "y": 820,
        "wires": [
            [
                "0ab794ca768db30a"
            ]
        ]
    },
    {
        "id": "0ab794ca768db30a",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "cmd:kd",
        "func": "msg.payload = \"kd:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 820,
        "wires": [
            [
                "20a0643562fed0b2",
                "1b4744901be675f3"
            ]
        ]
    },
    {
        "id": "01082fe22c989bef",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "cmd:ts",
        "func": "msg.payload = \"ts:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 880,
        "wires": [
            [
                "20a0643562fed0b2",
                "1b4744901be675f3"
            ]
        ]
    },
    {
        "id": "0ce149bac2db5a5a",
        "type": "ui_numeric",
        "z": "61975211f2fe207f",
        "name": "Base T Relé (ms)",
        "label": "Base de tiempo del Relé (ms)",
        "tooltip": "Periodo base del relé (10-10000 ms)",
        "group": "b5253ba5469cbac5",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "40",
        "max": 10000,
        "step": 10,
        "className": "",
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "296db65300114258"
            ]
        ]
    },
    {
        "id": "296db65300114258",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "cmd:basetiemporele",
        "func": "msg.payload = \"basetiemporele:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "20a0643562fed0b2",
                "1b4744901be675f3"
            ]
        ]
    },
    {
        "id": "6f0b812b7c3d0953",
        "type": "ui_chart",
        "z": "61975211f2fe207f",
        "name": "Temperatura y Setpoint",
        "group": "9107930fe226893c",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "20",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "52500e113699f15a",
        "type": "ui_chart",
        "z": "61975211f2fe207f",
        "name": "Salida %",
        "group": "75c50b77e673af98",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Salida (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "20",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4149ff78ae987ffd",
        "type": "ui_text",
        "z": "61975211f2fe207f",
        "group": "c9149d1e66f772f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Nivel seguro",
        "label": "Setpoint:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 14,
        "color": "#000000",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "20a0643562fed0b2",
        "type": "ui_text",
        "z": "61975211f2fe207f",
        "group": "c9149d1e66f772f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Último mensaje enviado:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 760,
        "wires": []
    },
    {
        "id": "14e38e74191d4110",
        "type": "ui_slider",
        "z": "61975211f2fe207f",
        "name": "T muestreo (s)",
        "label": "T muestreo",
        "tooltip": "Intervalo de control (1-10 s)",
        "group": "b5253ba5469cbac5",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 1,
        "max": 10,
        "step": 0.1,
        "className": "",
        "x": 400,
        "y": 880,
        "wires": [
            [
                "01082fe22c989bef"
            ]
        ]
    },
    {
        "id": "eac951b188419cb2",
        "type": "ui_widget_thermometer",
        "z": "61975211f2fe207f",
        "group": "75c50b77e673af98",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "title": "Temperatura del tanque",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": 100,
        "minTempMoreThanMaxTemp": "1",
        "numberOfDecimals": "0",
        "showPercentage": "0",
        "currentTempFontSize": "1.2",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "1419cdc149cfccee",
        "type": "ui_numeric",
        "z": "61975211f2fe207f",
        "name": "",
        "label": "Kp",
        "tooltip": "",
        "group": "2337440e676662b7",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": "0.01",
        "className": "",
        "x": 390,
        "y": 700,
        "wires": [
            [
                "2b95ca1314e85bfe"
            ]
        ]
    },
    {
        "id": "f81435700349228b",
        "type": "ui_numeric",
        "z": "61975211f2fe207f",
        "name": "",
        "label": "Kd",
        "tooltip": "",
        "group": "2337440e676662b7",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "step": "0.01",
        "className": "",
        "x": 230,
        "y": 860,
        "wires": [
            [
                "0ab794ca768db30a"
            ]
        ]
    },
    {
        "id": "6c9ac0a483c21890",
        "type": "ui_numeric",
        "z": "61975211f2fe207f",
        "name": "",
        "label": "Ki",
        "tooltip": "",
        "group": "2337440e676662b7",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": "0.001",
        "className": "",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "e024fbcc106d4679"
            ]
        ]
    },
    {
        "id": "af9fb98c1b1d72e9",
        "type": "ui_numeric",
        "z": "61975211f2fe207f",
        "name": "",
        "label": "SetPoint",
        "tooltip": "",
        "group": "2337440e676662b7",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "78",
        "step": "0.1",
        "className": "",
        "x": 400,
        "y": 600,
        "wires": [
            [
                "03ea397dcad8cf78"
            ]
        ]
    },
    {
        "id": "20aa66e602c8256b",
        "type": "ui_numeric",
        "z": "61975211f2fe207f",
        "name": "",
        "label": "Tiempo de muestreo (seg)",
        "tooltip": "",
        "group": "2337440e676662b7",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": "10",
        "step": "0.01",
        "className": "",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "01082fe22c989bef"
            ]
        ]
    },
    {
        "id": "d83c8aca2e5ef30c",
        "type": "ui_chart",
        "z": "61975211f2fe207f",
        "name": "",
        "group": "2337440e676662b7",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "45",
        "removeOlderPoints": "75",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "72797998c38f62e2",
        "type": "ui_text",
        "z": "61975211f2fe207f",
        "group": "2337440e676662b7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "1179578e34a6a20e",
        "type": "serial in",
        "z": "61975211f2fe207f",
        "name": "pepe",
        "serial": "cb1a2b3e.4f5g6h",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "47f08cfea0cf61ed"
            ]
        ]
    },
    {
        "id": "1b4744901be675f3",
        "type": "serial out",
        "z": "61975211f2fe207f",
        "name": "",
        "serial": "cb1a2b3e.4f5g6h",
        "x": 960,
        "y": 920,
        "wires": []
    },
    {
        "id": "ebad5c9c98725375",
        "type": "ui_multistate_switch",
        "z": "61975211f2fe207f",
        "name": "Tipo de Control",
        "group": "2337440e676662b7",
        "order": 14,
        "width": 0,
        "height": 1,
        "label": "Tipo de Control",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": false,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": false,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "PID",
                "value": "onoff:off",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "ON-OFF",
                "value": "onoff:on",
                "valueType": "str",
                "color": "#999999"
            }
        ],
        "topic": "",
        "x": 80,
        "y": 540,
        "wires": [
            [
                "337b2f71921282c6"
            ]
        ]
    },
    {
        "id": "337b2f71921282c6",
        "type": "function",
        "z": "61975211f2fe207f",
        "name": "cmd:tipo de control",
        "func": "msg.payload = \"kp:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 620,
        "wires": [
            [
                "1b4744901be675f3",
                "20a0643562fed0b2"
            ]
        ]
    },
    {
        "id": "5e729b4020af179d",
        "type": "ui_spacer",
        "z": "61975211f2fe207f",
        "name": "spacer",
        "group": "9107930fe226893c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4c0bed7b14068cd7",
        "type": "ui_group",
        "name": "Control",
        "tab": "b1621ce7ad4c9a13",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9149d1e66f772f4",
        "type": "ui_group",
        "name": "Estado",
        "tab": "b1621ce7ad4c9a13",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5253ba5469cbac5",
        "type": "ui_group",
        "name": "Parámetros",
        "tab": "b1621ce7ad4c9a13",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9107930fe226893c",
        "type": "ui_group",
        "name": "Gráficas",
        "tab": "582906419b7b7ace",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "75c50b77e673af98",
        "type": "ui_group",
        "name": "Graficas al costado",
        "tab": "582906419b7b7ace",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2337440e676662b7",
        "type": "ui_group",
        "name": "opciones numericas",
        "tab": "2d54b16bc1fdd21c",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb1a2b3e.4f5g6h",
        "type": "serial-port",
        "name": "",
        "serialport": "COM19",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": false,
        "out": "char",
        "addchar": "false",
        "responsetimeout": 10000
    },
    {
        "id": "b1621ce7ad4c9a13",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "582906419b7b7ace",
        "type": "ui_tab",
        "name": "Solo graficas",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2d54b16bc1fdd21c",
        "type": "ui_tab",
        "name": "Control Fino",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1010e8b7399fecc2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "@studiobox/node-red-contrib-ui-widget-thermometer": "0.7.7",
            "node-red-node-serialport": "2.0.3",
            "node-red-contrib-ui-multistate-switch": "1.2.3"
        }
    }
]